* {
  font-family: 'nl-regular';
  cursor: url(cursor-icon.svg) 18 18, auto;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.home {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
.home img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.home img.bg.active {
  opacity: 1;

  transition: opacity 1s ease-in-out;
}

.home .nav {
}
.home .nav .galeria {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 30px;

  color: #fff;
  /* z-index: 2; */
  font-size: 3.1rem;
  font-family: 'nl-light';
  font-weight: bolder;
  letter-spacing: 3px;
}

.events {
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 2;
  font-size: 32px;
}
.events p {
  margin-bottom: 0.7rem;
  line-height: 2rem;
}
.events .date {
  color: #ff2800;
}
.event-name {
  color: #fff;
}
.event-name.red {
  color: #ff2800;
}

/* sm version: */

.home-sm .nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #ff2800;
  font-size: 1rem;
  font-weight: bold;
}

.home-sm .section .date {
  padding: 2rem 0 1.1rem 1rem;
  font-size: 4.7vw;
  font-weight: bold;
}

.home-sm .section .image {
  width: 100vw;
  overflow: hidden;
  object-fit: contain;
}

.home-sm .section img {
  width: 100%;
}

.home-sm .section .text {
  padding: 0.8rem 0 2rem 1rem;
  font-size: 6.1vw;
}

.home-sm .section .text p:first-child {
  font-weight: bold;
}

/* menu */
.menu {
  background: #ddddda;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: url(cursor-close.svg) 18 18, auto !important;
}

.menu * {
  cursor: url(cursor-close.svg) 18 18, auto !important;
}

.menu .nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #ff2800;
  font-size: 1rem;
  font-weight: bold;
}

.menu .nav div:first-child {
  font-weight: normal;
}

.menu .section {
  padding-left: 1rem;
  font-size: 3.5vw;
  color: #ff2800;
}

.menu .section div {
  padding: 0.5rem 0;
}

.menu .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu .footer .left {
  display: flex;
  gap: 1rem;
}

.menu .footer .left a {
  color: #ff2800;
  padding-right: 1rem;
}

.menu .footer .left .left-newsletter {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: #ff2800;
}

.menu .footer .left .left-newsletter label {
  font-size: 0.6rem;
  padding-bottom: 0.9rem;
}

.menu .footer .left .left-newsletter input {
  background-color: transparent;
  border: none;
  border-bottom: #ff2800 solid 2px;
  width: 15rem;
  padding: 1px 2px;
  font-family: inherit;
  color: #ff2800 !important;
  font-size: 0.6rem;
  outline: 0;
  cursor: text !important;
  font-weight: thin;
  margin-right: 1.5rem;
}

.menu .footer .left .left-newsletter input:focus {
  background-color: transparent;
}

.menu .footer .left .left-newsletter input::placeholder {
  color: #ff280055;
}

.menu .footer .left .social .social-tag {
  font-size: 0.6rem;
  color: #ff2800;
  padding-bottom: 0.5rem;
}

@media (min-width: 786px) {
  .home {
    display: block;
  }
  .home-sm {
    display: none;
  }
}

@media (max-width: 786px) {
  .home {
    display: none;
  }
  .home-sm {
    display: block;
  }
}
